*{
  margin: 0;
  padding: 0;
}

:root{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333333
}

main{
  box-sizing: border-box;
  width: 1120px;
  margin: 88px 80px 141px;
}

.headline{
  color: #E1624F;
  font-weight: bold;
  font-size: 16px;
  line-height:normal;
  padding-bottom: 8px;
}

.bomPara{
  font-weight: bold;
}

.historia{
  color: #0C51A7;
  font-weight: bold
}

h1{
  font-size: 36px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

h1, h2, h3{
  color:#1B1B1B
}

#subtitulo{
  font-style: italic;
  text-align: center;
}

#casais{
  font-weight: bold;
  color: #591B98
}

#familias{
  font-weight: bold;
  color: #E5245E
}

#orcamentos{
  font-weight: bold;
  color: #E95E10
}

.divisor{
  border-top: 1px solid;
  color: #D9D9D9;
  margin: 40px 0px
}

#titulo{
  margin-bottom: 40px
}

#descrição{
  margin: 40px 0px
}

#subtitulo{
  margin: 24px 0px 0px
}

#destinos{
  margin: 64px 0px 0px
}

.paraOsAmantes{
  margin: 0 0 8px
}

.conteudoLista{
  margin: 64px 0 0
}

.item1, .item2 {
  margin: 20px 0 48px
}